#pijlterug
{
	float:left;
	background-image: url(../images/pijlterug.svg);
	display:block;
	width:18px;
	height: 35px;
	text-indent: -9999px;
	background-repeat: no-repeat;
	margin-left: 2rem;
	margin-top: 1rem;
}

#jqxnavigationbar
{
	margin-top: 3rem;
}

#dummy
{
	padding-bottom: 3rem;
}

#edit:link,
#edit:visited,
#edit:hover,
#edit:active
{
	background-image: url(../images/edit_geel.svg);
	display:block;
	width:100px;
	height: 40px;
	text-indent: -9999px;
	background-repeat: no-repeat;
	margin-bottom: 2rem;
	margin-top: 2rem;
}

#editgroen:link,
#editgroen:visited,
#editgroen:hover,
#editgroen:active
{
	background-image: url(../images/edit_groen.svg);
	display:block;
	width:100px;
	height: 40px;
	text-indent: -9999px;
	background-repeat: no-repeat;
	margin-bottom: 2rem;
	margin-top: 5rem;
}



#slaop
{
	background-image: url(../images/slaop_geel.svg);
	display:block;
	width:250px;
	height: 40px;
	color:white;
	font-family: 'arial narrow';
	text-decoration: none;
	font-size: 2rem;
	padding-left: 6rem;
	padding-top: 0.8rem;
	margin-top: 2rem;
	border: none;
}

label
{
	display:block;
	font-family: 'Arial Narrow';
	padding-top: 1rem;
	padding-bottom: 0.5rem;
	padding-left: 0.2rem;
}

.inputvak
{
	display: block;
	width: 80%;
	/*margin-top: 5%;*/
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
	/*padding: 0.5rem;*/
	color:black;
	padding-left: 1rem;
	background-color: white;
	border: 2px solid #ECC900;
}

.inputvak:focus
{
	outline-color: transparent;
  	outline-style: none;
}

#oranje
{
	border: 2px solid #FF8D00;
	width:85%;
	height:100px;
}

#btn_postbericht
{
	background-color: #FF8D00;
	display:block;
	width:264px;
	height: 40px;
	color:white;
	font-family: 'arial narrow';
	text-decoration: none;
	font-size: 2rem;
	padding-left: 1rem;
	padding-top: 0.6rem;
	margin-top: 2rem;
	border: none;
}

#btn_nieuwbericht:link,
#btn_nieuwbericht:visited,
#btn_nieuwbericht:hover,
#btn_nieuwbericht:active
{
	background-image: url(../images/nieuwbericht.svg);
	display:block;
	width:140px;
	height: 40px;
	text-indent: -9999px;
	background-repeat: no-repeat;
	float:left;

}

#btn_label:link,
#btn_label:visited,
#btn_label:hover,
#btn_label:active
{
	background-image: url(../images/label.svg);
	display:block;
	width:140px;
	height: 40px;
	text-indent: -9999px;
	background-repeat: no-repeat;
	margin-bottom: 2rem;
	margin-top: 2rem;
	margin-left:16rem;
}

#btn_terug2:link,
#btn_terug2:visited,
#btn_terug2:hover,
#btn_terug2:active
{
	background-color: #FF8D00;
	display:block;
	width:88%;
	height: 35px;
/*	text-indent: -9999px;*/
	margin-bottom: 2rem;
	margin-top: 2rem;
	padding-top: 0.5rem;
	color: white;
	text-decoration: none;
	font-family: 'Arial Narrow';
	font-size: 2rem;
	text-align: center;
}

#btn_postbericht:link,
#btn_postbericht:visited,
#btn_postbericht:hover,
#btn_postbericht:active
{
	background-color: #FF8D00;
	display:block;
	width:85%;
	height: 35px;
/*	text-indent: -9999px;*/
	margin-bottom: 2rem;
	margin-top: 2rem;
	padding-top: 0.5rem;
	color: white;
	text-decoration: none;
	font-family: 'Arial Narrow';
	font-size: 2rem;
	text-align: center;
}

#btn_terug1:link,
#btn_terug1:visited,
#btn_terug1:hover,
#btn_terug1:active
{
	background-color: #ECC900;
	display:block;
	width:80%;
	height: 35px;
	margin-bottom: 2rem;
	margin-top: 2rem;
	padding-top: 0.5rem;
	color: white;
	text-decoration: none;
	font-family: 'Arial Narrow';
	font-size: 2rem;
	text-align: center;
}

#bericht
{
	padding-top: 3rem;
}

#tekstballon
{
	float:left;
	padding-top: -10rem;
}

.jqx-widget-header
{
	font-family: 'Arial Narrow';
	padding-left: 4rem;
	color: white;
	font-size: 2rem;
	font-weight: bold;
	/*background-color: #ECC900;*/
	outline-style: none;
	border:none;
}

.info
{
	font-family: 'arial narrow';
	font-size: 1.5rem;
}

#joubericht
{
	text-align: right;
	padding-right: 5rem;
}

#talkbubbleleft {
  position:relative;
  padding:15px;
  margin-right: 3rem;
  margin-top: 6rem;
  color:black;
  background:white; /* default background for browsers without gradient support */
  border-style: solid;
  border-width: 6px;
  border-color: #FF8D00;
  /* css3 */
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  
}

#talkbubbleleft:before {
  content:"";
  position:absolute;
  top:-30px; /* value = - border-top-width - border-bottom-width */
  left:20px; /* controls horizontal position */
  border-width:0px 30px 30px 0; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color: #FF8D00 transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

#talkbubbleright {
  position:relative;
  padding:15px;
  margin-right: 3rem;
  margin-top: 6rem;
  color:black;
  background:white; /* default background for browsers without gradient support */
  border-style: solid;
  border-width: 6px;
  border-color: #FF8D00;
  /* css3 */
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  
}

#talkbubbleright:before {
  content:"";
  position:absolute;
  top:-30px; /* value = - border-top-width - border-bottom-width */
  left:210px; /* controls horizontal position */
  border-width:0px 0px 30px 30px; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color: #FF8D00 transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}



.jqx-widget-header:first-child
{
	background-color: #ECC900;
}

.jqx-widget-header:nth-child(3)
{
	background-color: #FF8D00;
}

.jqx-item:nth-child(5)
{
	background-color: #879500;
}

.jqx-item:nth-child(7)
{
	background-color: #0C8C71;
}

.jqx-widget-content
{
	text-align: left;
	padding-left: 4rem;
	padding-top: 2rem;
	border:none;
	height: none;
}

.jqx-fill-state-pressed
{
	border:none;
}

.jqx-expander-content-bottom
{
	border: none;
}

.jqx-fill-state-normal
{
	border:none;
}

.jqx-fill-state-hover
{
	border:none;
	opacity: 0.7;
}

div.jqx-widget-content.jqx-expander-content.jqx-expander-content-bottom
{
	height: none;
}





